/*
*
* One-liners
* 
*/
.titlebar-placeholder[type="pre-tabs"] {display: none !important;} /* Remove whitespace before */
.titlebar-placeholder[type="post-tabs"] {display: none !important;} /* Remove whitespace after */
.titlebar-placeholder[type="pre-tabs"] {border-inline-end: 1px solid black !important;width: 1px !important;} /* Fix one-pixel line from whitespace */
.tab-line{ background-color: gray !important; } /* Tab color */
toolbarbutton#neaturl_hugsmile_eu-browser-action {filter:invert(95%) !important;} /* Invert color of Neat URL webextension icon */
#identity-box.verifiedIdentity #identity-icon-labels {display: none !important;} /* Remove owner name for SSL certs */
#pageActionButton { display: none !important; } /* Remove Page Actions Menu (3 dots) */
/* #back-button[disabled="true"] { display: none !important; } */
/* #forward-button[disabled="true"] { display: none !important; } */
#reload-button { display: none !important; }
#stop-button { display: none !important; }    
#home-button { display: none !important; }   

/*
*
* Find bar
* 
*/

/* Find Bar */
findbar {
	-moz-box-ordinal-group: 0	 !important;
	direction:							rtl !important;

	transition-property:				unset !important;
	transition-duration:				unset !important;
	transition-timing-function: unset !important;

	border-top-width:					 0																						!important;
	border-bottom:							1px solid var(--toolbox-border-bottom-color) !important;
	
}
findbar .findbar-textbox {
	direction: ltr !important;
}
/* Find Bar */

/* hide tab bar if only one tab */
tab:only-of-type { 
		display:none; 
}

/* unset the tab bar min-height */ 
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
		min-height: initial !important;
}

/* set the height on the tabs instead */
tab { 
		line-height: 32px; height: 32px; 
}

/* hide new tab button so tab-bar can collapse */
.tabs-newtab-button { 
		display: none; 
}

/* ...but show it on tab-bar hover */
#tabbrowser-tabs:hover .tabs-newtab-button { 
		display: block; 
}

.browserContainer {
background-color: var(--url-and-searchbar-background-color,  hsla(0,0%,100%,.8)) !important;
}

/*
*
* COLORED CERT BAR 
*
*/

#urlbar {
  position: relative;
  z-index: 1;
}

#identity-box:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  background: var(--toolbar-bgcolor);
  opacity: 0.2;
}


/* There is also grantedPermissions, but irrelevant. */

/* about:about */
#urlbar[pageproxystate='valid'] #identity-box.unknownIdentity:after {
  background: #ff0039; /* Firefox Red 50 */
}

/* about:config */
#urlbar[pageproxystate='valid'] #identity-box.chromeUI:after {
  background: #0a84ff; /* Firefox Blue 50 */
}

/* uBlock Origin Dashboard */
#urlbar[pageproxystate='valid'] #identity-box.extensionPage:after {
  background: #45a1ff; /* Firefox Blue 40 */
}

/* https://www.github.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedIdentity:after{
  background: #058b00; /* Firefox Green 70 */
}

/* https://www.google.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedDomain:after{
  background: #12bc00; /* Firefox Green 60 */
}

/* https://mixed-script.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveBlocked:after {
  background: #30e60b; /* Firefox Green 50 */
}

/* https://mixed.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent:after {
  background: #d7b600; /* Firefox Yellow 60 */
}

/* https://very.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked:after {
  background: #d7b600; /* Firefox Yellow 60 */
}

/* https://self-signed.badssl.com/ but add certificate exception */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden:after {
  background: #ffe900; /* Firefox Yellow 50 */
}

/* Don't know an example for this */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher:after {
  background: #a47f00; /* Firefox Yellow 70 */
}

/* https://mixed-script.badssl.com/ but disable protection */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent:after {
  background: #d70022;  /* Firefox Red 60 */
}

/* http://http-login.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms:after {
  background: #a4000f;  /* Firefox Red 70 */
}

/*
*
*  Small tabs
* 
*/
.tabbrowser-tab {
  --tab-min-width: 120px !important;
  -moz-box-flex: 0 !important;
  transition: all 0.2s;
  width: -10px !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  -moz-box-flex: 1 !important;
}

.tabbrowser-tabs > arrowscrollbox {
  height: 45px !important;
}

/*
*
*  Show close tab button only on hover
*
*/
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
}


/*
*
*  Show new tab buttons on hover
*
*/

/* hide new tab button so tab-bar can collapse */
.tabs-newtab-button { 
    display: none; 
}

/* ...but show it on tab-bar hover */
#tabbrowser-tabs:hover .tabs-newtab-button { 
    display: block; 
}
/* rotate close button on tab hover */

#tabbrowser-tabs .tabbrowser-tab:hover .tab-close-button {
transform: rotate(1440deg) !important;
transition: transform ease-in-out 2s !important;
}



























/*
*
* #URL bar safari
* 
*/

/* *************************************** URL bar and its container/wrapper    ****************************************/


:root
{
 --ubwidth: 1600px;
 --ubdrop: 1500px;
    --ubwidth: 1600px;
    --ubdrop: 1500px;
}

#urlbar, .searchbar-textbox{
    border-radius: 0.3em !important;
    height: 27px !important;
    min-height: 27px !important;
    box-shadow: inset 0 -0.5px 0px 0px hsla(0,0%,70%,1), inset 0 0px 0px 0px white, 0 0 5px 15px rgba(151,195,243,0), inset 0 0 0 0px rgba(151,195,243,0) !important;
}

#nav-bar #urlbar[focused="true"]
{
 color: black !important;
 /* Animated box shadows to recreate the native OS X 10.11 focus-ring effect */
 transition: box-shadow 300ms, border 300ms !important;
 box-shadow: inset 0 -0.5px 0px 0px rgb(168,205,245), inset 0 0.5px 0.5px 0px white, 0 0 0px 2.5px rgba(151,195,243,0.9), inset 0 0 0 0.5px rgba(151,195,243,0.9) !important;
 border: 0.5px solid rgba(136,178,220,0.9) !important;
    color: white !important;
    /* Animated box shadows to recreate the native OS X 10.11 focus-ring effect */
    transition: box-shadow 300ms, border 300ms !important;
    box-shadow: inset 0 -0.5px 0px 0px rgb(168,205,245), inset 0 0px 0px 0px white, 0 0 0px 2.5px rgba(151,195,243,0.9), inset 0 0 0 0.5px rgba(151,195,243,0.9) !important;
    border: 0.5px solid rgba(136,178,220,0.9) !important;
}

/* urlbar-input-box holds the actual URL textbox */
#nav-bar #urlbar .urlbar-input-box
{
 -moz-box-Æ’âˆš: 5 !important;
 border: none !important;
 padding-inline-start: 2px !important;
 -moz-box-ordinal-group: 3 !important;
 transition: all 300ms ease-in-out !important;
    -moz-box-Æ’âˆš: 5 !important;
    border: none !important;
    padding-inline-start: 2px !important;
    -moz-box-ordinal-group: 3 !important;
    transition: all 300ms ease-in-out !important;
}

.urlbar-input-box, .searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box { text-align: center; }
#nav-bar #urlbar[focused=true] .urlbar-input-box { text-align: left; }
 
#nav-bar #urlbar[focused=true] .urlbar-input-box::after
{
 opacity: 0 !important;
 transition: unset;
    opacity: 0 !important;
    transition: unset;
}

/* URL bar autocomplete popup/dropdown */
#PopupAutoCompleteRichResult
{
 margin-inline-start: calc(-2px + (var(--ubwidth) - var(--ubdrop)) / 2) !important;
 margin-top: -2px !important;
 max-width: var(--ubdrop) !important;
 border-radius: 5px !important;
 /*     background: linear-gradient(to bottom, rgb(215,213,215), rgb(192,190,192)) !important; */
    margin-inline-start: calc(-2px + (var(--ubwidth) - var(--ubdrop)) / 2) !important;
    margin-top: -2px !important;
    max-width: var(--ubdrop) !important;
    border-radius: 5px !important;
    /*       background: linear-gradient(to bottom, rgb(215,213,215), rgb(192,190,192)) !important; */
}

.autocomplete-richlistbox
{
 background: linear-gradient(to bottom, rgb(237,237,237), rgb(239,239,239)) border-box !important;
 border-top-left-radius: 5px !important;
 border-top-right-radius: 5px !important;
 padding-left: 0 !important;
 padding-right: 0 !important;
    background: linear-gradient(to bottom, rgb(237,237,237), rgb(239,239,239)) border-box !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
 
.autocomplete-richlistbox > scrollbox { overflow-y: hidden !important; }
 
.autocomplete-richlistitem
{
 min-height: 20px !important;
 max-height: 20px !important;
 border: unset !important;
 border-radius: unset !important;
 padding-left: 16px !important;
 padding-right: 16px !important;
    min-height: 20px !important;
    max-height: 20px !important;
    border: unset !important;
    border-radius: unset !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.autocomplete-richlistitem:hover .ac-type-icon[type=keyword],
.autocomplete-richlistitem:hover .ac-site-icon[type=searchengine],
.ac-type-icon[type=keyword][selected],
.ac-site-icon[type=searchengine][selected]
{
 /* white magnifying glass */
 list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="white" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="white" stroke-width="1" />\ </svg>') !important;
    /* white magnifying glass */
    list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="white" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="white" stroke-width="1" />\ </svg>') !important;
}
















.urlbar-input-box, .searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box { text-align: center; }
#nav-bar #urlbar[focused=true] .urlbar-input-box { text-align: left; }

#nav-bar #urlbar[focused=true] .urlbar-input-box::after
{
    opacity: 0 !important;
    transition: unset;
}

/* note: private browsing mode keeps this as is, non-private is the more complex case */
#main-window:not([privatebrowsingmode=temporary]) #nav-bar:-moz-window-inactive #urlbar .urlbar-input-box::after { background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0)) 0px 0px / 50px 100% no-repeat, linear-gradient(to bottom, rgb(255,255,255), rgb(255,255,255)) 50px 0px / calc(100% - 50px) 100% no-repeat; }

/* URL bar autocomplete popup/dropdown */
#PopupAutoCompleteRichResult
{
    margin-inline-start: calc(-2px + (var(--ubwidth) - var(--ubdrop)) / 2) !important;
    margin-top: -2px !important;
    max-width: var(--ubdrop) !important;
    border-radius: 5px !important;
    /*       background: linear-gradient(to bottom, rgb(215,213,215), rgb(192,190,192)) !important; */
}

.autocomplete-richlistbox
{
    background: linear-gradient(to bottom, rgb(237,237,237), rgb(239,239,239)) border-box !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.autocomplete-richlistbox > scrollbox { overflow-y: hidden !important; }

.autocomplete-richlistitem
{
    min-height: 20px !important;
    max-height: 20px !important;
    border: unset !important;
    border-radius: unset !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

/* *** */
.searchbar-engine-one-off-item:hover,
.searchbar-engine-one-off-item[selected],
.autocomplete-richlistitem[selected],
.autocomplete-richlistitem:hover { background-color: rgb(17,108,214); }

.ac-site-icon, .ac-type-icon
{
    margin-inline-start: 1px !important;
    margin-inline-end: 8px !important;
}

.ac-site-icon:not([type=searchengine]), 
.ac-type-icon:not([type=switchtab]):not([type=remotetab]):not([type=keyword]),
.ac-separator { display: none !important; }

.ac-type-icon[type=keyword],
.ac-site-icon[type=searchengine]
{
    /* magnifying glass */
    list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="rgb(113,113,113)" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="rgb(113,113,113)" stroke-width="1" />\ </svg>') !important;
}

.autocomplete-richlistitem:hover .ac-type-icon[type=keyword],
.autocomplete-richlistitem:hover .ac-site-icon[type=searchengine],
.ac-type-icon[type=keyword][selected],
.ac-site-icon[type=searchengine][selected]
{
    /* white magnifying glass */
    list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="white" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="white" stroke-width="1" />\ </svg>') !important;
}

.ac-title
{
    font-size: 12px !important;
    color: rgb(62,62,62);
}

.ac-url { color: gray !important; }
.autocomplete-richlistitem:hover *,
.autocomplete-richlistitem[selected] * { color: white !important; }

.autocomplete-richlistitem:hover .ac-tags-text > html|span.ac-tag,
.autocomplete-richlistitem[selected] .ac-tags-text > html|span.ac-tag
{
    background-color: white;
    color: rgb(17,108,214);
}

.ac-normal-text { font: message-box !important; }

.ac-url, .ac-action
{
    font-size: 11px;
    margin: 0 !important;
    padding: 0 !important;
}

.ac-tags
{
    font-size: 10px !important;
    margin: 0px 3px 0px -3px !important;
}

.ac-title-text,
.ac-url-text
{
    width: 500ch !important;
}