/*
 *
 * #URL bar safari
 * 
 */
 
-/* *************************************** URL bar and its container/wrapper	****************************************/
+/* *************************************** URL bar and its container/wrapper    ****************************************/
 
 :root
 {
-	--ubwidth: 1600px;
-	--ubdrop: 1500px;
+    --ubwidth: 1600px;
+    --ubdrop: 1500px;
 
 @media (max-width: 1300px)
 {
-	:root
-	{
-		--ubwidth: 575px;
-		--ubdrop: 575px;
-	}
+    :root
+    {
+        --ubwidth: 575px;
+        --ubdrop: 575px;
+    }
 }
 
 @media (max-width: 1200px)
 {
-	:root
-	{
-		--ubwidth: 550px;
-		--ubdrop: 550px;
-	}
+    :root
+    {
+        --ubwidth: 550px;
+        --ubdrop: 550px;
+    }
 }
 
 @media (max-width: 1175px)
 {
-	:root
-	{
-		--ubwidth: 525px;
-		--ubdrop: 525px;
-	}
+    :root
+    {
+        --ubwidth: 525px;
+        --ubdrop: 525px;
+    }
 }
 
 @media (max-width: 1150px)
 {
-	:root
-	{
-		--ubwidth: 500px;
-		--ubdrop: 500px;
-	}
+    :root
+    {
+        --ubwidth: 500px;
+        --ubdrop: 500px;
+    }
 }
 
 @media (max-width: 1125px)
 {
-	:root
-	{
-		--ubwidth: 475px;
-		--ubdrop: 475px;
-	}
+    :root
+    {
+        --ubwidth: 475px;
+        --ubdrop: 475px;
+    }
 }
 
 @media (max-width: 1100px)
 {
-	:root
-	{
-		--ubwidth: 450px;
-		--ubdrop: 450px;
-	}
+    :root
+    {
+        --ubwidth: 450px;
+        --ubdrop: 450px;
+    }
 }
 
 @media (max-width: 1075px)
 {
-	:root
-	{
-		--ubwidth: 425px;
-		--ubdrop: 425px;
-	}
+    :root
+    {
+        --ubwidth: 425px;
+        --ubdrop: 425px;
+    }
 }
 
 @media (max-width: 1050px)
 {
-	:root
-	{
-		--ubwidth: 400px;
-		--ubdrop: 400px;
-	}
+    :root
+    {
+        --ubwidth: 400px;
+        --ubdrop: 400px;
+    }
 }
 
 @media (max-width: 1025px)
 {
-	:root { --ubwidth: 375px; }
+    :root { --ubwidth: 375px; }
 }
 
 @media (max-width: 1000px)
 {
-	:root { --ubwidth: 350px; }
+    :root { --ubwidth: 350px; }
 }
 
 @media (max-width: 900px)
 {
-	:root { --ubwidth: 325px; }
+    :root { --ubwidth: 325px; }
 }
 
 /* urlbar-container : contains back+forward buttons and urlbar */
 #nav-bar #urlbar-container,
 #nav-bar #search-container
 {
-	height: 27px !important;
-	padding: 0px 3.5px !important;
-	-moz-box-pack: center !important;
-	-moz-window-dragging: drag !important;
+    height: 27px !important;
+    padding: 0px 3.5px !important;
+    -moz-box-pack: center !important;
+    -moz-window-dragging: drag !important;
 }
 
 #titlebar { -moz-box-pack: initial !important; }
@@ -377,68 +497,64 @@ tab {
 #nav-bar #urlbar-container::before,
 #nav-bar #urlbar-container::after
 {
-	content: '';
-	display: inline-flex;
-	min-width: 7px;
-	-moz-box-flex: 1 !important;
+    content: '';
+    display: inline-flex;
+    min-width: 7px;
+    -moz-box-flex: 1 !important;
 }
 
 /* urlbar-wrapper : contains forward button and urlbar */
 #nav-bar #urlbar-wrapper
 {
-	margin: 0px !important;
-	height: 37px !important;
-	clip-path: unset !important;
-	max-width: calc(var(--ubwidth) + 28px) !important;
-	width: calc(var(--ubwidth) + 28px) !important;
+    margin: 0px !important;
+    height: 37px !important;
+    clip-path: unset !important;
+    max-width: calc(var(--ubwidth) + 28px) !important;
+    width: calc(var(--ubwidth) + 28px) !important;
 }
 
 /* urlbar : contains the url, info icons, go/reload/stop buttons etc */
 #nav-bar #urlbar
 {
-	height: 23px !important;
-	min-height: 23px !important;
-	min-width: calc(var(--ubwidth) - 24px) !important;
-	width: var(--ubwidth) !important;
-	max-width: var(--ubwidth) !important;
-	margin: 7px 0px !important;
-	padding-inline-start: 2px !important;
-	background: var(--toolbar-bgcolor);
-	border: 0.5px solid rgb(213,211,213) !important;
-	border-radius: 4px !important;
-	font: message-box !important;
-	font-size: 12px !important;
-	color: rgb(255,255,255) !important;
-	/* last two box shadows here are transparent counterparts for animating focus ring shadows below */
-	box-shadow: inset 0 -0.5px 0px 0px hsla(0,0%,70%,1), inset 0 0px 0px 0px white, 0 0 5px 15px rgba(151,195,243,0), inset 0 0 0 0px rgba(151,195,243,0) !important;
+    height: 23px !important;
+    min-height: 23px !important;
+    min-width: calc(var(--ubwidth) - 50px) !important;
+    max-width: var(--ubwidth) !important;
+    margin: 0px 0px !important;
+    padding-inline-start: 0px !important;
+    background: var(--toolbar-bgcolor);
+    border: 0.5px solid rgb(213,211,213) !important;
+    border-radius: 0.3em !important;
+    /* last two box shadows here are transparent counterparts for animating focus ring shadows below */
+    box-shadow: inset 0 -0.5px 0px 0px hsla(0,0%,70%,1), inset 0 0px 0px 0px white, 0 0 5px 15px rgba(151,195,243,0), inset 0 0 0 0px rgba(151,195,243,0) !important;
 }
 
 #nav-bar #urlbar[focused="true"]
 {
-	color: black !important;
-	/* Animated box shadows to recreate the native OS X 10.11 focus-ring effect */
-	transition: box-shadow 300ms, border 300ms !important;
-	box-shadow: inset 0 -0.5px 0px 0px rgb(168,205,245), inset 0 0.5px 0.5px 0px white, 0 0 0px 2.5px rgba(151,195,243,0.9), inset 0 0 0 0.5px rgba(151,195,243,0.9) !important;
-	border: 0.5px solid rgba(136,178,220,0.9) !important;
+    color: white !important;
+    /* Animated box shadows to recreate the native OS X 10.11 focus-ring effect */
+    transition: box-shadow 300ms, border 300ms !important;
+    box-shadow: inset 0 -0.5px 0px 0px rgb(168,205,245), inset 0 0.5px 0.5px 0px white, 0 0 0px 2.5px rgba(151,195,243,0.9), inset 0 0 0 0.5px rgba(151,195,243,0.9) !important;
+    border: 0.5px solid rgba(136,178,220,0.9) !important;
 }
 
 /* urlbar-input-box holds the actual URL textbox */
 #nav-bar #urlbar .urlbar-input-box
 {
-	-moz-box-Æ’âˆš: 5 !important;
-	border: none !important;
-	padding-inline-start: 2px !important;
-	-moz-box-ordinal-group: 3 !important;
-	transition: all 300ms ease-in-out !important;
+    -moz-box-Æ’âˆš: 5 !important;
+    border: none !important;
+    padding-inline-start: 2px !important;
+    -moz-box-ordinal-group: 3 !important;
+    transition: all 300ms ease-in-out !important;
 }
 
 .urlbar-input-box, .searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box { text-align: center; }
 #nav-bar #urlbar[focused=true] .urlbar-input-box { text-align: left; }
 
 #nav-bar #urlbar[focused=true] .urlbar-input-box::after
 {
-	opacity: 0 !important;
-	transition: unset;
+    opacity: 0 !important;
+    transition: unset;
 }
 
 /* note: private browsing mode keeps this as is, non-private is the more complex case */
@@ -447,32 +563,32 @@ tab {
 /* URL bar autocomplete popup/dropdown */
 #PopupAutoCompleteRichResult
 {
-	margin-inline-start: calc(-2px + (var(--ubwidth) - var(--ubdrop)) / 2) !important;
-	margin-top: -2px !important;
-	max-width: var(--ubdrop) !important;
-	border-radius: 5px !important;
-	/*		 background: linear-gradient(to bottom, rgb(215,213,215), rgb(192,190,192)) !important; */
+    margin-inline-start: calc(-2px + (var(--ubwidth) - var(--ubdrop)) / 2) !important;
+    margin-top: -2px !important;
+    max-width: var(--ubdrop) !important;
+    border-radius: 5px !important;
+    /*       background: linear-gradient(to bottom, rgb(215,213,215), rgb(192,190,192)) !important; */
 }
 
 .autocomplete-richlistbox
 {
-	background: linear-gradient(to bottom, rgb(237,237,237), rgb(239,239,239)) border-box !important;
-	border-top-left-radius: 5px !important;
-	border-top-right-radius: 5px !important;
-	padding-left: 0 !important;
-	padding-right: 0 !important;
+    background: linear-gradient(to bottom, rgb(237,237,237), rgb(239,239,239)) border-box !important;
+    border-top-left-radius: 5px !important;
+    border-top-right-radius: 5px !important;
+    padding-left: 0 !important;
+    padding-right: 0 !important;
 }
 
 .autocomplete-richlistbox > scrollbox { overflow-y: hidden !important; }
 
 .autocomplete-richlistitem
 {
-	min-height: 20px !important;
-	max-height: 20px !important;
-	border: unset !important;
-	border-radius: unset !important;
-	padding-left: 16px !important;
-	padding-right: 16px !important;
+    min-height: 20px !important;
+    max-height: 20px !important;
+    border: unset !important;
+    border-radius: unset !important;
+    padding-left: 16px !important;
+    padding-right: 16px !important;
 }
 
 /* *** */
@@ -483,8 +599,8 @@ tab {
 
 .ac-site-icon, .ac-type-icon
 {
-	margin-inline-start: 1px !important;
-	margin-inline-end: 8px !important;
+    margin-inline-start: 1px !important;
+    margin-inline-end: 8px !important;
 }
 
 .ac-site-icon:not([type=searchengine]), 
@@ -494,23 +610,23 @@ tab {
 .ac-type-icon[type=keyword],
 .ac-site-icon[type=searchengine]
 {
-	/* magnifying glass */
-	list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="rgb(113,113,113)" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="rgb(113,113,113)" stroke-width="1" />\ </svg>') !important;
+    /* magnifying glass */
+    list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="rgb(113,113,113)" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="rgb(113,113,113)" stroke-width="1" />\ </svg>') !important;
 }
 
 .autocomplete-richlistitem:hover .ac-type-icon[type=keyword],
 .autocomplete-richlistitem:hover .ac-site-icon[type=searchengine],
 .ac-type-icon[type=keyword][selected],
 .ac-site-icon[type=searchengine][selected]
 {
-	/* white magnifying glass */
-	list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="white" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="white" stroke-width="1" />\ </svg>') !important;
+    /* white magnifying glass */
+    list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\ <circle cx="7" cy="7" r="4" fill="none" stroke="white" stroke-width="1" />\ <path d="M13.5,13.5 L10,10" stroke="white" stroke-width="1" />\ </svg>') !important;
 }
 
 .ac-title
 {
-	font-size: 12px !important;
-	color: rgb(62,62,62);
+    font-size: 12px !important;
+    color: rgb(62,62,62);
 }
 
 .ac-url { color: gray !important; }
@@ -520,32 +636,27 @@ tab {
 .autocomplete-richlistitem:hover .ac-tags-text > html|span.ac-tag,
 .autocomplete-richlistitem[selected] .ac-tags-text > html|span.ac-tag
 {
-	background-color: white;
-	color: rgb(17,108,214);
+    background-color: white;
+    color: rgb(17,108,214);
 }
 
 .ac-normal-text { font: message-box !important; }
 
 .ac-url, .ac-action
 {
-	font-size: 11px;
-	margin: 0 !important;
-	padding: 0 !important;
+    font-size: 11px;
+    margin: 0 !important;
+    padding: 0 !important;
 }
 
 .ac-tags
 {
-	font-size: 10px !important;
-	margin: 0px 3px 0px -3px !important;
+    font-size: 10px !important;
+    margin: 0px 3px 0px -3px !important;
 }
 
 .ac-title-text,
 .ac-url-text
 {
-	width: 500ch !important;
-
-/*
-*
-* #/URL bar safari
-* 
-*/
+    width: 500ch !important;
+} 