'xonsh[full]'
xontrib-abbrevs
xontrib-argcomplete
xonsh-docker-tabcomplete
xontrib-readable-traceback
xontrib-sh
xontrib-zoxide
xontrib-fzf-widgets
xontrib-default-command

xontrib-mpl
matplotlib

xontrib-jupyter
euporie
