[submodule ".config/awesome/modules/machi"]
	path = .config/awesome/modules/machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule ".config/awesome/modules/rubato"]
	path = .config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/modules/charitable"]
	path = .config/awesome/modules/charitable
	url = https://github.com/frioux/charitable
[submodule ".config/awesome/modules/dovetail"]
	path = .config/awesome/modules/dovetail
	url = https://github.com/jcrd/awesome-dovetail.git
[submodule ".config/awesome/modules/inspect"]
	path = .config/awesome/modules/inspect
	url = https://github.com/kikito/inspect.lua
[submodule ".config/awesome/modules/ez"]
	path = .config/awesome/modules/ez
	url = https://github.com/jcrd/awesome-ez.git
[submodule ".config/awesome/modules/eminent"]
	path = .config/awesome/modules/eminent
	url = https://github.com/guotsuan/eminent.git
[submodule ".config/awesome/nice"]
	path = .config/awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
[submodule ".config/xmonad/xmonad"]
	path = .config/xmonad/xmonad
	url = https://github.com/xmonad/xmonad.git
[submodule ".config/xmonad/xmonad-contrib"]
	path = .config/xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib.git
[submodule ".themes/Mayu"]
	path = .themes/Mayu
	url = https://github.com/mrbrownstone07/Mayu_dark_gtk_theme
[submodule ".config/awesome/collision"]
	path = .config/awesome/collision
	url = https://github.com/Elv13/collision
[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = git@github.com:runarsf/bling.git
