#!/usr/bin/env sh

setxkbmap -option caps:escape -v no
pulseaudio --start &
#pulseaudio --log-level=4 --log-target=stderr &
pulseeffects --gapplication-service &
sxhkd -m 1 &
#xset r rate 300 50 & # Speed xrate up
dunst &
nm-applet &
picom -fcCGb --xrender-sync-fence &
feh --bg-scale "${HOME}/.config/wall.png" &
xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/Xresources &
#systemctl --user import-environment DISPLAY
"${HOME}"/.local/bin/polybar-start

xsetwacom --set "Wacom Intuos S Pen stylus" Suppress 2
xsetwacom --set "Wacom Intuos S Pen stylus" Rawsample 4
xsetwacom --set "Wacom Intuos S Pen stylus" Area 2000 2351 10210 7453
xsetwacom --set "Wacom Intuos S Pen stylus" Button 1 '0'
xsetwacom --set "Wacom Intuos S Pen stylus" Button 2 '0'
xsetwacom --set "Wacom Intuos S Pen stylus" Button 3 '0'
xsetwacom --set "Wacom Intuos S Pen stylus" MapToOutput HEAD-0
