! Common
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

! Dark
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

Xcursor*theme: Simple-and-Soft
URxvt*internalBorder: 10
URxvt*fading:                  25
URxvt*fadeColor:               S_base03
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

! black
URxvt*color0:       #282a2e
URxvt*color8:       #373b41
! red
URxvt*color1:       #a54242
URxvt*color9:       #cc6666
! green
URxvt*color2:       #8c9440
URxvt*color10:      #b5bd68
! yellow
URxvt*color3:       #de935f
URxvt*color11:      #f0c674
! blue
URxvt*color4:       #5f819d
URxvt*color12:      #81a2be
! magenta
URxvt*color5:       #85678f
URxvt*color13:      #b294bb
! cyan
URxvt*color6:       #5e8d87
URxvt*color14:      #8abeb7
! white
URxvt*color7:       #707880
URxvt*color15:      #c5c8c6

!! URxvt*blurRadius: 10


URxvt*foreground:   #c5c8c6
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/aaaa
URxvt*cursorColor:  #c5c8c6

!! Transparency
URxvt*transparent: true
URxvt*shading: 50
! URxvt.background: [90]#000000

!! Xft
Xft.autohint:				0
Xft.lcdfilter:				lcddefault
Xft.hintstyle:				hintfull
Xft.hinting:				1
Xft.antialias:				1
Xft.dpi:				96
Xft.rgba:				rgb
URxvt.font:				xft:DejaVu Sans Mono for Powerline:size=12

URxvt.clipboard.autocopy:		true
Xcursor.size:				15W
URxvt.urgentOnBell:			true
URxvt.scrollBar:			false
URxvt.depth:				15
URxvt.url-launcher:			/usr/bin/firefox
URxvt.matcher.button:			1
URxvt.letterSpace:			-1


!! Extensions
URxvt.perl-lib:				~/.urxvt/ext/
URxvt.perl-ext-common:			keyboard-select,resize-font,url-select
URxvt.colorUL:				#4682B4
!! url-select
URxvt.keysum.M-u:			perl:url-select:select_next
URxvt.url-select.launcher:		/usr/bin/firefox
URxvt.url-select.underline:		true
!! keyboard-select
URxvt.keysum.M-Escape:			perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:		C-j
URxvt.resize-font.bigger:		C-k




























