#include "/home/runar/.xres/urxvt"

!! ---
!!URxvt*foreground:   #c5c8c6
!!URxvt*background: rgba:0000/0000/0200/aaaa
!!URxvt*cursorColor:  #c5c8c6

!! Transparency and blur
!!URxvt*transparent: true
!!URxvt*shading: 20
!!URxvt*fading: 25
!!URxvt*blurRadius: 10

!! Xft
Xft.autohint:				0
Xft.lcdfilter:				lcddefault
Xft.hintstyle:				hintfull
Xft.hinting:				1
Xft.antialias:				1
Xft.dpi:				96
Xft.rgba:				rgb
URxvt.font:				xft:DejaVu Sans Mono for Powerline:size=18

URxvt*internalBorder: 			10
URxvt.clipboard.autocopy:		true
Xcursor.size:				15W
URxvt.urgentOnBell:			true
URxvt.scrollBar:			false
URxvt.depth:				32
URxvt.url-launcher:			/usr/bin/firefox
URxvt.matcher.button:			1
URxvt.letterSpace:			-1

!! disable keycap picture insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Extensions
URxvt.perl-lib:				~/.urxvt/ext/
URxvt.perl-ext-common:			keyboard-select,resize-font,url-select
URxvt.colorUL:				#4682B4
!! url-select
URxvt.keysum.M-u:			perl:url-select:select_next
URxvt.url-select.launcher:		/usr/bin/qutebrowser
URxvt.url-select.underline:		true
!! keyboard-select
URxvt.keysum.M-Escape:			perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:		C-j
URxvt.resize-font.bigger:		C-k
