! Colours
*.foreground: #93a1a1
*.background: #141c21
!*background: rgba:0000/0000/0000/AAAA
!*background: [50]#AAAA
*.cursorColor: #afbfbf
! black
*.color0: #263640
*.color8: #4a697d
! red
*.color1: #d12f2c
*.color9: #fa3935
! green
*.color2: #819400
*.color10: #a4bd00
! yellow
*.color3: #b08500
*.color11: #d9a400
! blue
*.color4: #2587cc
*.color12: #2ca2f5
! magenta
*.color5: #696ebf
*.color13: #8086e8
! cyan
*.color6: #289c93
*.color14: #33c5ba
! white
*.color7: #bfbaac
*.color15: #fdf6e3

XTerm*termName: xterm-256color

! Appearance
URxvt.letterSpace: -1
URxvt.lineSpace: 0
!URxvt.geometry: 92x24
!URxvt.internalBorder: 24
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false
URxvt.buffered: true

! Font (`fc-list | grep "Iosevka"`, https://addy-dclxvi.github.io/post/configuring-urxvt/)
URxvt.font: xft:Iosevka Term:pixelsize=18
!URxvt.boldFont:
!URxvt.italicFont:
!URxvt.boldItalicfont:
!URxvt.font: xft:DejaVu Sans Mono:style=Book:antialias=false:size=18
Xft*autohint: 0
Xft*lcdfilter: lcddefault
Xft*hintstyle: hintslight
Xft*hinting: full
Xft*antialias: true
Xft*dpi: 96
Xft*rgba: rgb

! Effects
URxvt.depth: 32
URxvt.transparent: true
URxvt.shading: 18
URxvt.fading: 25
!Xcursor*size: 15W
!URxvt*blurRadius: 10

! Extensions
URxvt.perl-lib: ./.config/.urxvt/ext/
URxvt.perl-ext-common: default,pgnav,keyboard-select,resize-font,url-select
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: eval:selection_to_clipboard
URxvt.keysym.M-v: eval:paste_clipboard

! url-select
!URxvt.keysum.M-u: perl:url-select:select_next
URxvt.url-select.launcher: $BROWSER
URxvt.url-select.underline: true
URxvt.url-select.button: 1
!URxvt.urlLauncher: $BROWSER
!URxvt.underlineURLs: true
!URxvt.urlButton: 1

! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next

! resize-font
URxvt.resize-font.step: 2
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset
URxvt.keysym.C-question: resize-font:show

! Navigation
Urxvt.secondaryScroll: true
URxvt.saveLines: 8192
URxvt.keysym.Meta-Up: command:\033]720;1\007
URxvt.keysym.Meta-Down: command:\033]721;1\007
URxvt.keysym.Meta-Page_Up: perl:pageup
URxvt.keysym.Meta-Page_Down: perl:pagedown
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D
