// Variables {{{
$background: #0D1117;
$background-alt: #25293E;
$foreground: #9da2ab;
$foreground-alt: #757680;
$highlight: #68729D;
$highlight-alt: #9aa9ce;

$white: #ffffff;
$black: #000000;
$gray: #aaaaaa;
$gray-alt: #465059;
$red: #E27878;
$red-alt: #ff6565;
$green: #A3BE8C;
$green-alt: #b8cc52;
$yellow: #EBCB8B;
$yellow-alt: #e6c446;
$blue: #306998;
$blue-alt: #78a6e2;
$magenta: #e278db;
$cyan: #89B8C2;
$purple: #a07acf;

$font: 'cozette';
$font-alt: 'rissole';
$tray-size: 110px;
// }}}

* {
  all: unset;
}

window {
  background-color: $background;
  color: $foreground;
}

.bar {
  font-family: $font;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid $background-alt;

  // For trayer-srg
  padding-right: $tray-size;

  // & > * {
  //   margin-top: 9px;
  //   margin-bottom: 9px;
  // }
  & > * > * {
    padding: 0 5px;
  }

  & .hover label:not(.nobox),
  & button label {
    padding: 0 9px;
    margin: 4px 0;
    border-radius: 3px;
    background-color: $background-alt;
  }
  & button {
    label {
      background-color: $background-alt;
      border: 1px solid $gray-alt;
    }
    &:hover label {
      background-color: $gray-alt;
    }
  }
  & .hover > * > * > :nth-child(3) label,
  & .hover > * > * > :nth-child(1) label {
    padding: 0 5px;
    background-color: transparent;
  }
  & .hover > *:hover > * > :nth-child(2) label {
    font-weight: bold;
  }
}

.spaced {
  margin: 0 10px;
}

.info {
  font-family: $font-alt;
  font-size: 0.9rem;
  // label {
  //   background: transparent;
  // }
}

// .nobg label {
//   background: transparent;
// }

scale trough {
  background-color: $background-alt;
  border-radius: 5px;
  min-height: 4px;
  min-width: 45px;
  margin: 0 5px;

  highlight {
    background-color: $foreground-alt;
    border-radius: 5px;
  }
}
scale.adjustable trough highlight {
  background-color: $blue;
}

.workspaces {
  background-color: $background-alt;
  border-radius: 3px;

  // & > * {
  //   padding: 0 3px;
  // }

  button {
    & label {
      border: none;
      border-radius: 3px;
      background-color: transparent;
      padding: 1px 5px;
      margin: 3px;
    }

    &.occupied label {
      color: $gray;
    }
    &:not(.occupied) label {
      color: $gray-alt;
    }
    &.active label {
      background-color: $highlight;
      color: $background;
    }
    &.urgent label {
      color: $red;
    }
  }
}
