// Variables {{{
$background: #0D1117;
$background-alt: #25293E;
$foreground: #9da2ab;
$foreground-alt: #757680;
$font: 'cozette';
$font-alt: 'rissole';

$white: #ffffff;
$black: #000000;
$gray: #aaaaaa;
$gray-alt: #465059;
$red: #E27878;
$red-alt: #ff6565;
$green: #A3BE8C;
$green-alt: #b8cc52;
$yellow: #EBCB8B;
$yellow-alt: #e6c446;
$blue: #306998;
$blue-alt: #78a6e2;
$magenta: #e278db;
$cyan: #89B8C2;
$purple: #a07acf;
// }}}

* {
  all: unset;
}

window {
  background-color: $background;
  color: $foreground;
}

.bar {
  font-family: $font;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid $background-alt;

  // For trayer-srg
  padding-right: 110px;

  // & > * {
  //   margin-top: 9px;
  //   margin-bottom: 9px;
  // }
  & > * > * {
    padding-left: 5px;
    padding-right: 5px;
  }



  //   // padding: 0 9px;
  //   // margin: 4px 0;
  //   // border-radius: 5px;

  & label {
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: $background-alt;
  }
  & button label {
    background-color: $background-alt;
    border: 1px solid $gray-alt;
  }
  & button:hover label {
    background-color: $gray-alt;
  }
}

.spaced {
  margin: 0 10px;
}

.info {
  font-family: $font-alt;
  font-size: 0.9rem;
}

scale trough {
  background-color: $background-alt;
  border-radius: 5px;
  min-height: 4px;
  min-width: 45px;
  margin-left: 5px;
  margin-right: 5px;

  highlight {
    background-color: $foreground-alt;
    border-radius: 5px;
  }
}
scale.adjustable trough highlight {
  background-color: $blue;
}

:hover .time {
  font-weight: bold;
}

.workspaces {
  background-color: $gray-alt;
  border-radius: 3px;

  // & > * {
  //   padding: 0 3px;
  // }

  button {
    label {
      border: none;
      background-color: transparent;
    }

    &.focused label {
      background-color: $blue;
      color: $background;
    }
  }

//   button {
//     margin: 0 3px;
//     padding: 2px 6px;
//     border-radius: 3px;
//     border: 1px solid transparent;
// 
//     &.occupied {
//       /* font-size: 1.01rem; */
//       color: $gray;
//     }
//     &.focused {
//       /* font-weight: bold; */
//       color: $white;
//       background-color: $background;
//       border: 1px solid $background-alt;
//       border-radius: 5px;
//     }
//     &.urgent {
//       color: $red;
//     }
//     &.empty {
//       /* font-size: 0.8rem; */
//       color: $gray-alt;
//     }
// 
//     &:hover {
//       font-weight: bold;
//     }
//   }
}
