#nav-bar {
  background: transparent !important;
  margin-top: -36px !important;
  margin-right: 50vw !important;
  height: 36px !important;
  padding-top: 1px !important;
  /*padding-left: 80px !important;*/
  font-size: 10px !important;
}

:root[sizemode="fullscreen"] #nav-bar {
  padding-left: 0px !important;
  padding-top: 0px !important;
}

:root[sizemode="fullscreen"] #TabsToolbar {
  padding-top: 0px !important;
}

/*
.titlebar-buttonbox-container {
  display: block !important;
  position: fixed !important;
  left: 0px !important;
  margin-top: 9px !important;
}
*/

/*
:root[uidensity="compact"] #urlbar, :root[uidensity="compact"] #searchbar {
  min-height: 10px !important;
}
:root[uidensity="compact"] toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 1px 7px !important;
}
*/

.bookmark-item:not([label=""]) > .toolbarbutton-icon {
  display: none !important;
}

#urlbar-container,
#search-container {
  padding-block: 5px !important;
}

#urlbar-container {
  min-width: calc(150px + 24px + 2 * var(--toolbarbutton-inner-padding)) !important;
}

#TabsToolbar {
  margin-left: 50vw !important;
  height: 32px !important;
  /*padding-top: 1px !important;*/
}

.tabbrowser-arrowscrollbox {
  height: 32px !important;
  min-height: 32px !important;
}

/*
#tabbrowser-tabs {
  height: 32px !important;
}
*/

.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

.tab-line {
  display: none !important;
}

.tab-throbber,
.tab-icon-pending,
.tab-icon-image, 
.tab-sharing-icon-overlay,
.tab-icon-sound,
.tab-close-button {
  margin-top: 0px !important;
}

/*
.tab-background {
  margin: 5px 3px !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
}
*/

/*
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > 
.tabbrowser-tab > .tab-stack > 
.tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > 
.tabbrowser-tab > .tab-stack > 
.tab-background[selected="true"]:-moz-lwtheme,
.tabbrowser-tab:hover > .tab-stack > 
.tab-background:not([selected="true"]):not([multiselected]) {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
*/

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

/*
.titlebar-placeholder {
  border: none !important;
}
*/

:root {
  --tabs-border: transparent !important;
  --chrome-content-separator-color: none !important;
  --toolbarbutton-border-radius: 4px !important;
  --lwt-toolbar-field-border-color: rgba(249, 249, 250, 0.2) !important;
  --urlbar-separator-color: var(--lwt-toolbar-field-border-color) !important;
  --toolbar-field-focus-border-color: none !important;
}

#urlbar {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: none !important;
}
#urlbar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#TabsToolbar,
#nav-bar,
#PersonalToolbar {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}

/* Replace favicon on tabs with close button on hover {{{ */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
}
#personal-bookmarks #PlacesToolbarItems {
  -moz-box-pack: center;
}
.urlbar-input-box > .urlbar-input::placeholder {
  opacity: 0 !important;
}
.tabbrowser-tab[selected]:not(:hover) .tab-close-button { display: none; }
.tabbrowser-tab[selected]:not([pinned]):hover .tab-close-button { display: block !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display: none !important; }
.tabbrowser-tab[selected]:not([pinned]):hover .tab-icon-image { display: none !important; } 
.tabbrowser-tab[selected]:hover .tab-throbber,
.tabbrowser-tab[selected]:hover .tab-icon-image,
.tabbrowser-tab[selected]:hover .tab-sharing-icon-overlay,
.tabbrowser-tab[selected]:hover .tab-icon-overlay,
.tabbrowser-tab[selected]:hover .tab-label-container,
.tabbrowser-tab[selected]:hover .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}
.tabbrowser-tab .tab-close-button {
  margin-left: -2px !important;
  margin-right: 4px !important;
}
/* }}} */

/* Tab-bar buttons {{{ */
#downloads-button:not([progress]),
#tabs-newtab-button,
.toolbarbutton-1:not(.webextension-browser-action) {
  opacity: 0.2 !important;
  border: none !important;
  transition: 0.1s ease-in-out !important;
  --toolbarbutton-hover-background: none !important; 
  --toolbarbutton-active-background: none !important;
}
#downloads-button:hover,
#tabs-newtab-button:hover,
.toolbarbutton-1:not(.webextension-browser-action):hover {
  border-radius: 100px !important;
  opacity: 0.5 !important;
}
/* }}} */

/* Downloads progress bar {{{ */
#downloads-button[progress] #downloads-indicator-progress-outer {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3crect x='0' y='3' width='16' height='10' stroke='%23888' fill='%23f4f4f4' stroke-width='1'/%3e%3c/svg%3e") center no-repeat !important;
}
#downloads-indicator-progress-inner {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3crect x='0' y='3' width='16' height='10' stroke='%233c9af8' fill='%233c9af8' stroke-width='1' style='opacity:0.7' /%3e%3c/svg%3e") left no-repeat !important;
}
#downloads-button[progress] #downloads-indicator-icon {
  opacity: 0 !important;
}
/* }}} */

/* Toggle bookmarks bar on tab-bar hover {{{ */
.urlbarView {
	background-image: url(image/noise-512x512.png) !important;
	background-color: #2A2A2AC0 !important;
	backdrop-filter: blur(32px) !important;
}
#urlbar-background {
	display: none !important;
}
#PersonalToolbar {
	background-image: url(image/noise-512x512.png) !important;
	background-color: #2A2A2AC0 !important;
	backdrop-filter: blur(32px) !important;
}
#PersonalToolbar {
  --uc-bm-height: 20px; /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 6px; /* Vertical padding to be applied to bookmarks */
}
:root[uidensity="compact"] #PersonalToolbar{ --uc-bm-padding: 1px }
:root[uidensity="touch"] #PersonalToolbar{ --uc-bm-padding: 6px }
#PersonalToolbar:not([customizing]){
  margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 135ms linear 600ms !important;
  z-index: 1;
}
#PlacesToolbarItems > .bookmark-item { padding-block: var(--uc-bm-padding) !important; }
/* EITHER | Show when urlbar is focused 
     #nav-bar:focus-within + #PersonalToolbar{ 
     transition-delay: 100ms !important; 
     transform: rotateX(0); 
 } */
/* OR | Show when cursor is over the toolbar area */
#navigator-toolbox:hover > #PersonalToolbar {
  transition-delay: 100ms !important;
  transform: rotateX(0);
}
/* }}} */

/* Toggle tab-bar on hover {{{ 
#main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: -25px;
}
#navigator-toolbox {
  transition: 200ms margin-top ease-out;
}
/* }}} */

/* Disable favicon for inactive tabs
.tabbrowser-tab:not([selected]) .tab-icon-image {
  display: none !important;
}
*/

.urlbar-history-dropmarker,
#urlbar:hover > .urlbar-textbox-container > .urlbar-history-dropmarker {
  display: none !important;
}

/* Center tab text */
.tab-label {
  text-align: center !important;
}

.tab-background:not([selected=true]),
.tab-background[selected],
#titlebar-buttonbox,
#TabsToolbar,
#PersonalToolbar,
#urlbar,
#nav-bar {
  background: #31363b !important;
}
.tab-background[selected] {
  background: #1F2429 !important;
}

/* Disable urlbar buttons: .urlbar-icon */
#page-action-buttons,
#urlbar-go-button {
  display: none !important;
}

#navigator-toolbox {
  border: 0px !important;
}

/* Disable navigation buttons when disabled */
#back-button[disabled],
#forward-button[disabled],
#stop-button[disabled] {
  display: none !important;
  /*visibility: hidden;*/
}

/* Disable tracking protection (shield) button */
#tracking-protection-icon-container {
  display: none !important;
}