@define-color bg rgba(1, 1, 12, 0.75);
@define-color border rgba(67, 67, 67, 0.85);
@define-color fg rgba(248, 248, 255, 0.9);

* {
  padding: 0;
  margin: 0;
}

button {
  padding: 0 0.25em;
}

window#waybar {
  font-family: "CaskaydiaCove Nerd Font";
  background: transparent;
  font-size: 14px;
  color: @fg;
}


tooltip,
.module {
  padding: 0.3em 1em;
  background: @bg;
  border: 1px solid @border;
  border-radius: 0.5em;
  margin: 0 0.2em;
}
:first-child > .module {
  margin-left: 0;
}
:last-child > .module {
  margin-right: 0;
}


#workspaces label {
  font-size: 12px;
  color: #C4C4C4;
}
#workspaces .empty label {
  color: #414141;
}
#workspaces .visible label {
  color: #7CB5E0;
}


window#waybar #window {
  font-size: 12px;
  border: none;
}
window#waybar.empty #window {
  background: transparent;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #eb4d4b;
}


.module#custom-music {
  border: none;
}
.module#custom-music.custom-spotify {
  background: #20D760;
  color: #0F1B1D;
}
.module#custom-music.custom-firefox {
  background: #FE8A4F;
  color: #0F1B1D;
}


@keyframes blink {
  to {
    background: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

